.about {
  display: flex;
  /* max-height:  */
}

.aboutPhoto {
  width: 50%;
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center;
  overflow: hidden; */
}

.aboutPhoto img {
  margin: 0;
  /* flex-shrink: 0; */
  /* min-width: 100%; */
  /* min-height: 100%; */
}

.aboutText {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2em 2em;
  width: 50%;
}

.aboutText h4 {
  line-height: 1.6;
  font-weight: 300;
}
