/* When I'm not coding...  */

.aboutExtra {
  padding: 1em 3em;
  text-align: center;
  color: #fff;

  background: rgba(231, 56, 39, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(231, 56, 39, 1)),
    color-stop(28%, rgba(231, 56, 39, 1)),
    color-stop(86%, rgba(247, 72, 78, 1)),
    color-stop(100%, rgba(247, 72, 78, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f7484e', GradientType=1 );
}

.aboutExtra h2 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.extrasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

@media screen and (max-width: 660px) {
  .extrasContainer {
    flex-direction: column;
  }
}

.extra {
  text-align: center;
  margin: 1em 1.25em;
}

.extra img {
  max-height: 80px;
  margin: 0 5px;
}

.extra p {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.5px;
  margin: 0.5em 0 0 0;
}
