.imgsContainer {
  display: flex;
  justify-content: center;
  padding: 1.5em 0;

  background: rgba(231, 56, 39, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(231, 56, 39, 1)),
    color-stop(28%, rgba(231, 56, 39, 1)),
    color-stop(86%, rgba(247, 72, 78, 1)),
    color-stop(100%, rgba(247, 72, 78, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f7484e', GradientType=1 );
}

.imgsContainer a {
  margin: 0 1.25em;
}

.iconImg {
  height: 60px;
  transition: all 0.3s ease-in-out;
}

.iconImg:hover {
  transform: scale(1.2);
}
