.header {
  z-index: 8001;
}

.titleNavWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em 2.25em 1.25em;
  vertical-align: middle;
  box-sizing: border-box;

  background: rgba(231, 56, 39, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(231, 56, 39, 1)),
    color-stop(28%, rgba(231, 56, 39, 1)),
    color-stop(86%, rgba(247, 72, 78, 1)),
    color-stop(100%, rgba(247, 72, 78, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(231, 56, 39, 1) 0%,
    rgba(231, 56, 39, 1) 28%,
    rgba(247, 72, 78, 1) 86%,
    rgba(247, 72, 78, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f7484e', GradientType=1 );
}

.nameContainer {
  display: flex;
}

.siteTitle {
  font-family: 'Poiret One', cursive;
  letter-spacing: 1.75px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.siteTitle a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  padding: 0;
  margin: 0;
}

.siteTitle a:hover {
  text-decoration: none;
  font-weight: 1000;
}

.desktopNav {
  display: flex;
  align-items: center;
}

.mainNav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Poiret One', cursive;
  margin: 0;
}

.mainNav ul li {
  letter-spacing: 1.75px;
  font-weight: bold;
  font-size: 19px;
  display: inline-block;
  text-align: right;
  margin: 0 0 0.5em 1em;
}

.mainNav ul li a {
  text-decoration: none;
  color: #fff;
}

